<div class="row">
  <div class="col-md-3 register-left">
      <img src="../../assets/img/logo2.png" alt="" />
      <h3>BEM VINDO(a)</h3>
      <p>INSIRA AS INFORMAÇÕES AO LADO</p>
  </div>
  <div class="col-md-9 register-right" id="tabela_ghi" style="display: block">
      <div class="tab-content">
          <div class="tab-pane fade show active" id="div_aba1" role="tabpanel" aria-labelledby="home-tab">
              <h3 class="register-heading">GIH</h3>
              <div class="col register-form">
                  <div class="col-md-16">
                      <form role="form">
                          <div class="form-group">
                              <input type="text" class="form-control" maxlength="150" id="nome_ghi"
                                  name="nome_ghi" placeholder="Qual o nome do beneficiário?"
                                  value="" required />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" id="dtsoli_ghi" name="dtsoli_ghi"
                                  placeholder="Qual a data de solicitação?" value=""
                                  required />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" id="consulta_ghi"
                                  name="consulta_ghi" placeholder="Consulta/exames/procedimentos:" value=""
                                  required />
                          </div>
                        <div class="form-group">
                          <input type="text" class="form-control" maxlength="200" id="status_ghi"
                              name="status_ghi"
                              placeholder="Status:" value=""
                              required />
                      </div>
                        <div class="form-group">
                          <input type="text" class="form-control" id="obs_ghi"
                              name="obs_ghi"
                              placeholder="Obs. do atendimento:" value=""
                              required />
                      </div>
                          <input class="btn btn-secondary" type="reset">
                          <input type="button" class="btn btn-primary right" onclick="exibirghi()" value="Exibir" />
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
