<div class="row">
  <div class="col-md-3 register-left">
      <img src="../../assets/img/logo2.png" alt="" />
      <h3>BEM VINDO(a)</h3>
      <p>INSIRA AS INFORMAÇÕES AO LADO</p>
  </div>
  <div class="col-md-9 register-right" id="tabela_financeiroboleto" style="display: block">
      <div class="tab-content">
          <div class="tab-pane fade show active" id="div_aba1" role="tabpanel" aria-labelledby="home-tab">
              <h3 class="register-heading">FINANCEIRO/ENVIO DE BOLETO</h3>
              <div class="col register-form">
                  <div class="col-md-16">
                      <form role="form">
                          <div class="form-group">
                              <input type="text" class="form-control" maxlength="150" id="nome_financeiroboleto"
                                  name="nome_financeiroboleto" placeholder="Qual o nome do beneficiário?"
                                  value="" required />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" id="competencia_financeiroboleto"
                                  name="competencia_financeiroboleto" placeholder="Competência:" value=""
                                  required />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" id="vcto_financeiroboleto" name="vcto_financeiroboleto"
                                  placeholder="Vencimento:" value=""
                                  required />
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" maxlength="200" id="envio_financeiroboleto"
                                name="envio_financeiroboleto"
                                placeholder="Enviado para (e-mail/telefone/sms):" value=""
                                required />
                        </div>
                          <input class="btn btn-secondary" type="reset">
                          <input type="button" class="btn btn-primary right" onclick="exibirfinanceiroboleto()" value="Exibir" />
                          <!-- <p class="aviso">*Ciente que segunda via de boleto também está disponível via site/app.</p> -->
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
