.btnRow {
  margin-left: 4%;
  margin-top: 1%;
  margin-bottom: 1%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 15px;
  row-gap: 10px;
  justify-content: space-around;
  justify-items: center;
}

.button {
  width: 230px;
  height: 35px;
  background: #53726e linear-gradient(to bottom, #53726e 5%, #53726e 100%);
  border-radius: 30px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: rgb(231, 224, 224);
  margin-right: 2%;
  font-family: Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  outline: 0;
  transition: all 0.1s ease;
}
.activebutton {
  background: #208a81 linear-gradient(to bottom, #208a81 5%, #208a81 100%);
  color: #ffffff;
}
.button:hover {
  transform: scale(1.05);
}
