
  <nav>
    <div class="btnRow">
      <button class="button" routerLink="/agendamento" routerLinkActive="activebutton" ariaCurrentWhenActive="page">AGENDAMENTO</button>
      <button class="button" routerLink="/direcionamento" routerLinkActive="activebutton" ariaCurrentWhenActive="page">DIRECIONAMENTO</button>
      <button class="button" routerLink="/serviconaolocalizado" routerLinkActive="activebutton" ariaCurrentWhenActive="page">SERVIÇO NÃO LOC.</button>
      <button class="button" routerLink="/flowrn" routerLinkActive="activebutton" ariaCurrentWhenActive="page">FLOW RN259</button>
    </div>
  </nav>

  <div class="register">
    <router-outlet></router-outlet>
  </div>
