
  <nav>
    <div class="btnRow">
      <button class="button" routerLink="/agendamento" routerLinkActive="activebutton" ariaCurrentWhenActive="page">AGENDAMENTO</button>
      <button class="button" routerLink="/direcionamento" routerLinkActive="activebutton" ariaCurrentWhenActive="page">DIRECIONAMENTO</button>
      <button class="button" routerLink="/serviconaolocalizado" routerLinkActive="activebutton" ariaCurrentWhenActive="page">SERVIÇO NÃO LOC.</button>
      <button class="button" routerLink="/flowrn" routerLinkActive="activebutton" ariaCurrentWhenActive="page">FLOW RN259</button>
      <button class="button" routerLink="/financeiroinfo" routerLinkActive="activebutton" ariaCurrentWhenActive="page">FINANCEIRO/INFORMAÇÕES</button>
    </div>
    <div class="btnRow">
      <button class="button" routerLink="/financeiroboleto" routerLinkActive="activebutton" ariaCurrentWhenActive="page">FINANCEIRO/ENVIO DE BOLETO</button>
      <button class="button" routerLink="/reembolso" routerLinkActive="activebutton" ariaCurrentWhenActive="page">REEMBOLSO</button>
      <button class="button" routerLink="/ghi" routerLinkActive="activebutton" ariaCurrentWhenActive="page">GHI</button>
      <button class="button" routerLink="/token" routerLinkActive="activebutton" ariaCurrentWhenActive="page">TOKEN</button>
    </div>
  </nav>

  <div class="register">
    <router-outlet></router-outlet>
  </div>
