<div class="row">
  <div class="col-md-3 register-left">
      <img src="../../assets/img/logo2.png" alt="" />
      <h3>BEM VINDO(a)</h3>
      <p>INSIRA AS INFORMAÇÕES AO LADO</p>
  </div>
  <div class="col-md-9 register-right" id="tabela_confirmacao" style="display: block">
      <div class="tab-content">
          <div class="tab-pane fade show active" id="div_aba1" role="tabpanel" aria-labelledby="home-tab">
              <h3 class="register-heading">AGENDAMENTO</h3>
              <div class="col register-form">
                  <div class="col-md-16">
                      <form role="form">
                          <div class="form-group">
                              <input type="text" class="form-control" maxlength="150" id="nome_benef"
                                  name="nome_benef" placeholder="Qual o nome do beneficiário?"
                                  value="" required />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" id="consulta_benef"
                                  name="consulta_benef" placeholder="Consulta/exames/procedimentos:" value=""
                                  required />
                          </div>
                          <!-- <div class="form-group">
                              <input type="text" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" id="dtagen_benef" name="dtagen_benef"
                                  placeholder="Data de agendamento:" value=""
                                  required />
                          </div> -->
                          <div class="form-group">
                              <input type="text" class="form-control" onfocus="(this.type='date')" onblur="(this.type='text')" id="dtageem_benef" name="dtageem_benef"
                                  placeholder="Agendado em:" value=""
                                  required />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" maxlength="200" id="bairro_benef"
                                  name="bairro_benef"
                                  placeholder="Bairro/cidade/estado/município:" value=""
                                  required />
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" maxlength="200" id="envio_benef"
                                name="envio_benef"
                                placeholder="Enviado para (e-mail/telefone/sms):" value=""
                                required />
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" maxlength="200" id="obs_benef"
                              name="obs_benef"
                              placeholder="Obs. do atendimento (se necessário):" value=""
                              required />
                      </div>
                          <input class="btn btn-secondary" type="reset">
                          <input type="button" class="btn btn-primary right" onclick="exibircadastro()" value="Exibir" />
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
